services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: customers_db
      MYSQL_USER: app
      MYSQL_PASSWORD: app
    command: --default-authentication-plugin=mysql_native_password
    ports: ["3306:3306"]
    volumes:
      - mysql_data:/var/lib/mysql
      - ./_docker/mysql/init:/docker-entrypoint-initdb.d
    networks: [ msnet ]

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    environment:
      - SERVER_PORT=8080
      - CORS_ALLOWED_ORIGINS=http://localhost:4200
    ports: ["8080:8080"]
    networks: [ msnet ]

  customer-service:
    build: ./customer-service
    container_name: customer-service
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/customers_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=app
      - SPRING_DATASOURCE_PASSWORD=app
    ports: ["8081:8081"]
    depends_on: [ mysql ]
    networks: [ msnet ]

  order-service:
    build: ./order-service
    container_name: order-service
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/orders_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=app
      - SPRING_DATASOURCE_PASSWORD=app
      - GATEWAY_URL=http://api-gateway:8080
    ports: ["8082:8082"]
    depends_on: [ mysql, api-gateway ]
    networks: [ msnet ]

  file-processor:
    build: ./file-processor
    container_name: file-processor
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/fileprocessor_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=app
      - SPRING_DATASOURCE_PASSWORD=app
      - GATEWAY_URL=http://api-gateway:8080
    ports: ["8090:8090"]
    depends_on: [ mysql, api-gateway ]
    networks: [ msnet ]

volumes:
  mysql_data:

networks:
  msnet:
